<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>汉服水吧</title>
			
		
		<!--application.css -->
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <meta charset="utf-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <link href="/static/css/application.css" media="all" rel="stylesheet" />
    </head>
	<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">汉服</a>
			</div>
		</div>
	</nav>
	<div class="container main">
		<div class="row" id="photoContainer">
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="footer">
				<div class="pull-left">
					<small class="glyphicon glyphicon-heart text-muted"></small>
					<small class="text-muted ">&nbsp;made by&nbsp;</small><a href="http://liusong.me" target="_blank"><small>liusong</small></a></div>
					<div class="pull-right"><a class="footer-link" href="#"><small>关于</small></a><a class="footer-link" href="/pin"><small>投递</small></a>
					<a class="footer-link" href="https://github.com/hanliumaozhi/hanfu/"><small>网站源代码</small></a>
				</div>
			</div>
		</div>
	</footer>
    <!-- scripts -->
    <script src="http://cdnjscn.b0.upaiyun.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/js/index.js"></script>
	</body>
</html>